<h1>Welcome to Etch Bricks Family</h1>

<div class="container-fluid">
  <div class="rows">
    <div class="col-sm-6">
      <form class="form-horizontal well"  ng-submit="loginctrl.login()">
                  <fieldset>
                  <legend>Login</legend>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">UserName</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" ng-model="loginctrl.loginUser.username">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Password</label>
                     <div class="col-lg-10">
                      <input type="password" class="form-control" ng-model="loginctrl.loginUser.password">
                    </div>
                  </div>

                    <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">LOGIN</button>
                    </div>
                  </div>
                  </fieldset>
        </form>
    </div>
    <div class="col-sm-6">
      <form class="form-horizontal well"  ng-submit="loginctrl.signup()">
                  <fieldset>
                  <legend>signup</legend>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">UserName</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" ng-model="loginctrl.signupUser.username">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Password</label>
                     <div class="col-lg-10">
                      <input type="password" class="form-control" ng-model="loginctrl.signupUser.password">
                    </div>
                  </div>

                    <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">SIGNUP</button>
                    </div>
                  </div>
                  </fieldset>
        </form>
    </div>
  </div>
</div>
