<form class="form-horizontal well"  ng-submit="newPostctrl.addPost()">
            <fieldset>
            <legend>Post your project</legend>
            <div class="form-group">
              <label for="postTitle" class="col-lg-2 control-label">Project Title</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="newPostctrl.newPost.title">
              </div>
            </div>
            <div class="form-group">
              <label for="postDescription" class="col-lg-2 control-label">Project Description</label>
               <div class="col-lg-10">
                <input type="textarea" class="form-control" ng-model="newPostctrl.newPost.description">
              </div>
            </div>
            <div class="form-group">
              <label for="postLink" class="col-lg-2 control-label">Youtube Link</label>
               <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="newPostctrl.newPost.link">
              </div>
            </div>

              <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" >Submit</button>
              </div>
            </div>
            </fieldset>
  </form>
