<html ng-app="Etchpost">
<head>
  <meta charset="UTF-8">
  <title>Etch Post- Post your projects</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="production/css/common.css">

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="production/js/app.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>

</head>
<body ng-controller="Postctrl as postctrl">
<header>
  <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="icon-bar"></span>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Etch Bricks</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
<section class="container postingform">
  <button ng-click="posting = !posting">Post Your Project</button>
  <form class="form-horizontal well" ng-show="posting" ng-submit="postctrl.addPost()">
              <fieldset>
              <legend>Post your project</legend>
              <div class="form-group">
                <label for="postTitle" class="col-lg-2 control-label">Project Title</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" ng-model="postctrl.newPost.title">
                </div>
              </div>
              <div class="form-group">
                <label for="postDescription" class="col-lg-2 control-label">Project Description</label>
                 <div class="col-lg-10">
                  <input type="textarea" class="form-control" ng-model="postctrl.newPost.description">
                </div>
              </div>
              <div class="form-group">
                <label for="postLink" class="col-lg-2 control-label">Youtube Link</label>
                 <div class="col-lg-10">
                  <input type="text" class="form-control" ng-model="postctrl.newPost.link">
                </div>
              </div>

                <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              </fieldset>
    </form>

</section>

<section id="posts">
  <article class="post container" ng-repeat="post in postctrl.posts">
    <h3>{{post.title}}</h3>
    <p>{{post.description}}</p>
      <a href="{{post.link}}">{{post.link}}</a>
  </article>
</section>

</body>
</html>
