nav.navbar.navbar-default {
  border-radius: 0;
  background-color: #2ecc71; }

button {
  float: right;
  background-color: #34495e;
  padding: 1vh;
  font: inherit;
  color: #FFF; }

h1 {
  text-align: center;
  color: #1abc9c;
  margin-bottom: 45px; }
